doctype html
html(lang="fr-ca")
    head
        title DnD Map Creator
        meta(charset="utf-8")
        style
            include styles.css
        script
          include script.js
    body
        header
        nav
        main
          button(class="openbtn" onClick="openNav()") Open
          div(id="mySidebar" class="sidebar")
            div(class="tab")
              button(id="defaultOpen" class="tablinks" onClick="openTab(event, 'createOrLoad')") Create or Load
              button(class="tablinks" onClick="openTab(event, 'textures')") Textures
              button(id="closeBtn" onclick="closeNav()") Close
            div(id="createOrLoad" class="tabcontent")
              div(id="mapCreator")
                div(id="mapLoader")
                  h2 0.Load a map (if you want to modify an existing one)
                  input(type="file" onchange="loadMap()" id="mapFile")
                div(id="mapDimensions")
                  h2 1.Map Dimensions
                  p tileDimensionPixel
                  input(type="text" id="tileDimensionPixel")
                  p nbTileWidth
                  input(type="text" id="nbTileWidth")
                  p nbTileHeight
                  input(type="text" id="nbTileHeight")
                  br
                  br
                  input(type="submit" name="Submit" id="submit" value="Submit" onClick="creerMap()")
                br
            div(id="textures" class="tabcontent")
              div(id="mapCreatorItems")
                h2 2.Modify it

                canvas(id="inventaire" width="500")
          h1 DnD Map Creator
          div(id="map")
            canvas(id="game" width="1000" height="600")

