body{
    background-color: #0B3C5D;
}
h1{
    color: #D9B310;
}

canvas{
    display: inline;
}
#canvasInventaire{
    border: 2px solid black;
}
h3{
    display: inline;
}
#mapCreator{
    width: 600px;
    float: left;
    display: inline-block;
}
#mapCreatorItems{
    display: block;
}
#wall{
    background-color: #999999;
}
#floor{
    background-color: #eeeeee;
}
#goblin{
    background-color: #00ff00;
}
#hero1{
    background-color: #ff5622;
}
#hero2{
    background-color: #ffc524;
}
#hero3{
    background-color: #ff33d3;
}
#hero4{
    background-color: #823528;
}
#createOrLoad{
    display: inline-block;
}
#inventaire{
    border: 2px solid blue;
    height: 100%;
}
#createOrLoad, #textures{
    text-align: center;
}
#mySidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #328CC1;
    overflow-x: hidden;
    transition: 0.5s;
}
.openbtn {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 20px;
    cursor: pointer;
    background-color: #1D2731;
    color: white;
    padding: 10px 15px;
    border: none;
    height: 60px;
    width: 200px;
}
.openbtn:hover{
    border-bottom: 2px solid #D9B310;
    height: 62px;
}
.tab {
    overflow-x: hidden;
    width: 600px;
    height: 62px;
    background-color: #1D2731;
}
.tab button {
    color:#ffffff;
    background-color:#1D2731;
    border-color: #1D2731;
    transition: 0.3s;
    height: 60px;
    font-size: 20px;
    width: 200px;
}
.tab button:hover {
    border-bottom: 2px solid #D9B310;
    height: 58px;
}
.tab button.active {
    background-color: #D9B310;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
}
